{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="{% static 'core/css/login.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}" type="text/css" />
</head>

<body>
    <div id="content">
        <div class="container">
            <div class="login_box">
                <div>
                    <div class="exp1">비밀번호 변경</div>
                    <div class="exp2">
                        변경하고자 하는 비밀번호를 입력하세요.
                    </div>
                </div>
                <form id="login_form" method="POST" action="#">
                    {% csrf_token %}
                    <div class="login_input">
                        <div class="login_username_div">
                            <div class="form_label">비밀번호</div>
                            <input type="password" id="username" name="password" />
                        </div>
                        <div class="login_username_div">
                            <div class="form_label" style="font-size:18px">비밀번호 변경</div>
                            <input type="password" id="password" name="check_password" />
                        </div>
                    </div>
                    <input id="login_button" type="submit" value="비밀번호 변경" />
                </form>
            </div>
        </div>
    </div>
    <script>
        const username = "{{username}}";
        const uuid = "{{uuid}}";
        
        {% if messages %} 
            {% for message in messages %}
                alert("{{message}}") 
            {% endfor %} 
        {%endif %}
    </script>
    <script src="{% static 'myauth/js/change_password.js'%}"></script>
</body>

</html>