{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="{% static 'core/css/login.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}" type="text/css" />
</head>

<body>
    <div id="content">
        <div class="container">
            <div class="login_box">
                <div>
                    <div class="exp1">비밀번호 찾기</div>
                    <div class="exp2">
                        <div>비밀번호를 찾고자하는 아이디를 입력해주세요.</div>
                        <div>회원가입 시 입력한 이메일로 비밀번호 변경 링크가 전송됩니다.</div>
                    </div>
                    <div class="exp2"></div>
                </div>
                <form id="login_form" method="POST" action="#">
                    {% csrf_token %}
                    <div class="login_input">
                        <div class="login_username_div">
                            <div class="form_label">아이디</div>
                            <input type="text" id="username" name="username" />
                        </div>
                    </div>
                    <input id="login_button" type="submit" value="이메일 보내기" />
                </form>
            </div>
        </div>
    </div>
    <script>
        {% if messages %} 
            {% for message in messages %}
                alert("{{message}}") 
            {% endfor %} 
        {%endif %}
    </script>
    <script src="{% static 'myauth/js/find_password.js'%}"></script>
</body>

</html>