{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'core/css/sign_up.css' %}" type="text/css" />
</head>

<body>
    <div id="content">
        <div class="container">
            <div class="page_title">
                <h1>회원가입</h1>
                <div class="border"></div>
            </div>

            <form id="lawyerForm" method="POST" enctype="multipart/form-data" style="width: 100%">
                {% csrf_token %}
                <!-- 기본사항 입력 폼 -->
                <div class="form_container">
                    <div class="form_title">
                        기본사항 입력
                    </div>
                    <div class="form_vertical">
                        <table>
                            <colgroup>
                                <col style="width: 30%" />
                                <col style="width: 70%" />
                            </colgroup>
                            <tr>
                                <td>아이디</td>
                                <td style="display: flex">
                                    <input type="text" class="username_input" name="username" check_result="fail"
                                        required />
                                    <button type="button" class="id_overlap_button"
                                        onclick="id_overlap_check()">중복검사</button>
                                    <img id="id_check_sucess" style="display: none;"
                                        src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMjAuMjg1IDJsLTExLjI4NSAxMS41NjctNS4yODYtNS4wMTEtMy43MTQgMy43MTYgOSA4LjcyOCAxNS0xNS4yODV6Ii8+PC9zdmc+">
                                </td>
                            </tr>
                            <tr>
                                <td>비밀번호</td>
                                <td><input type="password" name="password1" required /></td>
                            </tr>
                            <tr>
                                <td>비밀번호 확인</td>
                                <td><input type="password" name="password2" required /></td>
                            </tr>
                            <tr>
                                <td>성명(한글)</td>
                                <td><input type="text" name="name" required /></td>
                            </tr>
                            <tr>
                                <td>성별</td>
                                <td class="gender_radio">
                                    <label><input type="radio" name="gender" value="man" required />남성</label>
                                    <label><input type="radio" name="gender" value="woman" />여성</label>
                                </td>
                            </tr>
                            <tr>
                                <td>이메일</td>
                                <td><input type="email" name="email" required /></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="submit_button">
                    <div id="fake_submit">가입하기</div>
                    <button type="submit" id="real_submit" style="visibility:hidden;"></button>
                </div>
            </form>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="{% static 'core/js/sign_up.js'%}"></script>
<!-- 아이디 중복 체크 (ajax) -->
<script>
function id_overlap_check() {
    $('.username_input').change(function () {
        $('#id_check_sucess').hide();
        $('.id_overlap_button').show();
        $('.username_input').attr("check_result", "fail");
    });

    if ($('.username_input').val() === '') {
        alert('아이디을 입력해주세요.');
        return;
    }

    id_overlap_input = document.querySelector('input[name="username"]');

    $.ajax({
        url: "{% url 'core:id_overlap_check' %}",
        data: {
            'username': id_overlap_input.value
        },
        datatype: 'json',
        success: function (data) {
            if (data['overlap'] === "fail") {
                alert("이미 존재하는 아이디 입니다.");
                id_overlap_input.focus();
                return;
            } else {
                alert("사용가능한 아이디 입니다.");
                $('.username_input').attr("check_result", "success");
                $('#id_check_sucess').show();
                $('.id_overlap_button').hide();
                return;
            }
        }
    });
}
</script>
</html>